/* ------------------------------------------------------------ *\
    Article
\* ------------------------------------------------------------ */

.article {
    width: calc(33.33% - 20px);
    -webkit-box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.3);

    .article__head {
        position: relative;
        min-height: 500px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .article__head img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .article__head p {
        position: relative;
        z-index: 2;
        padding: 10px 10px 0;
        background-color: #fff;
        border-radius: 15px 0 0 0;
    }

    .article__content {
        min-height: 300px;
        overflow: hidden;
        padding: 20px 30px;
    }
}
