//------------------------------------------------------------ 
//	Btn
//------------------------------------------------------------

.btn {
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	color: $c-white;
	text-transform: uppercase;
	border: 2px solid $c-beige;
	padding: 16px 60px;
	position: relative;
	transition: background-color $t-duration;
	backdrop-filter: blur(3px);

	@include responsive-down($r-tablet) {
		padding: 10px 40px;
	}

	&:hover {
		background-color: $c-beige;
		opacity: 1;
	}
}

.btn--small {
	padding: 10px 32px;
}