//------------------------------------------------------------ 
//	Feature
//------------------------------------------------------------

.feature {
	background-color: $c-dark-green;
	padding: 40px 75px 40px 45px;
	display: flex;
	gap: 20px;

	@include responsive-down($r-small-desktop) {
		padding: 30px;
	}

	@include responsive-down($r-tablet) {
		gap: 10px;
		padding: 30px 20px;
	}

	@include responsive-down($r-mobile) {
		padding: 20px;
	}

	&:nth-child(1),
	&:nth-child(4n + 1) {
		clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
	}

	&:nth-child(2),
	&:nth-child(4n + 2) {
		clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 5% 100%, 0 80%);
	}

	&:nth-child(3),
	&:nth-child(4n + 3) {
		clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 5% 100%, 0 80%);
	}

	&:nth-child(4),
	&:nth-child(4n + 4) {
		clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
	}

	i {
		font-size: 60px;
		color: $c-light-beige;

		@include responsive-down($r-small-desktop) {
			font-size: 40px;
		}

		@include responsive-down($r-tablet) {
			font-size: 30px;
		}
	}

	h4 {
		color: $c-light-beige;
		margin-bottom: 14px;

		@include responsive-down($r-small-desktop) {
			margin-bottom: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}


	.feature__content p {
		color: $c-silver;
		font-size: 14px;
		line-height: 1.8571;
	}
}