//------------------------------------------------------------ 
//	Feature
//------------------------------------------------------------

.feature {
	&:nth-child(1) .feature__inner ,
	&:nth-child(4n + 1) .feature__inner {
		clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
	}

	&:nth-child(2) .feature__inner,
	&:nth-child(4n + 2) .feature__inner {
		clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 5% 100%, 0 80%);
	}

	&:nth-child(3) .feature__inner,
	&:nth-child(4n + 3) .feature__inner {
		clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 5% 100%, 0 80%);
	}

	&:nth-child(4) .feature__inner,
	&:nth-child(4n + 4) .feature__inner {
		clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
	}

	.feature__inner {
		display: flex;
		gap: 20px;
		background-color: $c-dark-green;
		padding: 34px 40px;
		min-height: 100%;

		@include responsive-down($r-small-desktop) {
			padding: 30px;
		}
	
		@include responsive-down($r-tablet) {
			gap: 15px;
			padding: 30px 20px;
		}
	
		@include responsive-down($r-mobile) {
			padding: 20px;
		}
	}

	i {
		font-size: 55px;
		color: $c-light-beige;

		@include responsive-down($r-small-desktop) {
			font-size: 40px;
		}

		@include responsive-down($r-tablet) {
			font-size: 30px;
		}
	}

	h4 {
		color: $c-light-beige;
		margin-bottom: 14px;

		@include responsive-down($r-small-desktop) {
			margin-bottom: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}


	.feature__content p {
		color: $c-silver;
		font-size: 14px;
		line-height: 1.8571;
	}
}