/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	width: 100%;
	min-height: 178px;
	padding: 30px;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, #000000 24.43%, rgba(11, 19, 21, 0) 100%);
	opacity: 0;
	transition: background-color 1s, opacity $t-duration;
	
	@include responsive-down($r-tablet) {
		padding: 20px 0;
		min-height: 100px;
	}

	.header__inner {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.header__nav {
		@include responsive-down($r-tablet) {
			width: 100%;
			display: grid;
			grid-template-rows: 0fr;
			overflow: hidden;
			transition: grid-template-rows 1s;
		}
	}

	.header__nav-inner {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 30px;

		@include responsive-down($r-tablet) {
			min-height: 0;
			gap: 5px;

		}
	}
}

body.has-open-menu .header {
	background-color: $c-black;

	.header__nav {
		grid-template-rows: 1fr;
	}
}

/* 
* Have fixed header
*/

body.admin-bar .header {
	margin-top: 32px;

	@include responsive-down($r-tablet) {
		margin-top: 46px;
	}
}

body.is-loading-homepage .header {
	top: -200px;
}

body.is-loaded .header {
	opacity: 1;
}