/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	width: 100%;
	min-height: 178px;
	padding: 30px;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, #000000 24.43%, rgba(11, 19, 21, 0) 100%);
	transition: background-color 1s;
	
	@include responsive-down($r-tablet) {
		padding: 20px 0;
		min-height: 100px;
	}
	.header__inner {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

body.has-open-menu .header {
	background-color: $c-black;
}

/* 
* Have fixed header
*/

body.admin-bar .header {
	margin-top: 32px;

	@include responsive-down($r-tablet) {
		margin-top: 46px;
	}
}