//------------------------------------------------------------ 
//	Section Blog
//------------------------------------------------------------

.section-blog {
	.section__head {
		text-align: center;
		margin-bottom: 50px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.section__body {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
}