//------------------------------------------------------------ 
//	Section Blog
//------------------------------------------------------------

.section-blog {
	position: relative;
	
	@include default-margin;

	.section__head {
		text-align: center;
		margin-bottom: 50px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.section__inner {
		margin-bottom: 40px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@include responsive-down($r-mobile) {
			grid-template-columns: 1fr;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.section__inner .article {
		&:first-child {
			grid-column: 2 span;

			@include responsive-down($r-mobile) {
				grid-column: auto;
			}
		}
	}

	.section__actions {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
}

