//------------------------------------------------------------ 
//	Section contacts
//------------------------------------------------------------

.section-contacts {
	@include default_padding();

	position: relative;

	.section__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.section__inner {
		position: relative;
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
	}

	.section__content {
		width: 55.3%;
		padding-right: 20px;

		@include responsive-down($r-tablet) {
			width: 50%;
		}

		@include responsive-down($r-mobile) {
			width: 100%;
			margin-bottom: 25px;
		}
	}

	.section__content-inner {
		max-width: 510px;
	}

	.section__form {
		width: 44.7%;
		padding: 50px 60px;
		background: linear-gradient(120.78deg, #E1BE8B -5.03%, #EAB76E 109.74%);

		@include responsive-down($r-small-desktop) {
			padding: 40px;
		}

		@include responsive-down($r-tablet) {
			width: 50%;
			padding: 40px 20px;
		}

		@include responsive-down($r-mobile) {
			width: 100%;
		}
	}

	.section__form h3 {
		text-align: center;
		font-weight: 600;
		font-size: 28px;
		line-height: 1.2;
		margin-bottom: 40px;

		@include responsive-down($r-small-desktop) {
			margin-bottom: 30px;
		}

		@include responsive-down($r-mobile) {
			margin-bottom: 20px;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	.section__subtitle {
		font-family: $ff-alt;
		font-size: 36px;
		font-weight: 700;
		line-height: 1.19444;
		color: $c-light-beige;
		margin-bottom: 20px;

		@include responsive-down($r-tablet) {
			margin-bottom: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.section__content h2 {
		margin-bottom: 24px;

		@include responsive-down($r-tablet) {
			margin-bottom: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.section__content .section__contact {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.section__contact i {
		font-size: 24px;
		width: 50px;
		height: 50px;
		background-color: $c-light-beige;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 99em;

		@include responsive-down($r-small-desktop) {
			font-size: 20px;
			width: 50px;
			height: 50px;
		}

		@include responsive-down($r-tablet) {
			font-size: 18px;
			width: 40px;
			height: 40px;
		}
	}

	.section__contact a {
		display: block;
		font-size: 20px;
		line-height: 1.5;
		font-weight: 500;

		@include responsive-down($r-small-desktop) {
			font-size: 18px;
		}

		@include responsive-down($r-mobile) {
			font-size: 16px;
		}
	}

	.section__entry {
		color: $c-light;
		margin-bottom: 30px;

		@include responsive-down($r-mobile) {
			margin-bottom: 20px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}