//------------------------------------------------------------ 
//	Secxtion features
//------------------------------------------------------------

.section-features {
	@include default-padding;
	position: relative;
	overflow: hidden;

	.section__shape {
		position: absolute;
		right: -70px;
		top: 100px;
		transform: rotate(-135deg);

		@include responsive-down($r-small-desktop) {
			right: -90px;
			top: 90px
		}

		@include responsive-down($r-tablet) {
			top: 46px;
			right: -46px;
		}
	}
	.section__head {
		text-align: center;
		margin-bottom: 70px;

		@include responsive-down($r-large-desktop) {
			margin-bottom: 40px;
		}

		@include responsive-down($r-tablet) {
			margin-bottom: 30px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.section__head p {
		font-family: $ff-alt;
		font-size: 36px;
		line-height: 1.19444;
		color: $c-beige;
		margin-bottom: 10px;

		@include responsive-down($r-mobile) {
			margin-bottom: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.section__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px 25px;

		@include responsive-down($r-tablet) {
			gap: 16px;
		}

		@include responsive-down($r-mobile) {
			grid-template-columns: 1fr;
		}
	}
}