:root {
	--moving-pixels: -500px;
}

@keyframes testimonials-slide-animation {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(var(--moving-pixels));
	}
	
}

.testimonials-slider {
	--container-width: 2000px;
	--slide-width: 500px;
	--gap: 20px;
	--slides-count: 7
	--duration: 5s;

	width: var(--container-width);
	display: grid;
	grid-template-columns: repeat(var(--slides-count), var(--slide-width));
	gap: var(--gap);
	animation: testimonials-slide-animation var(--duration) linear  infinite;

	&:hover {
		animation-play-state: paused;
	}
}
