//------------------------------------------------------------ 
//	Testimonial
//------------------------------------------------------------

.testimonial {
	text-align: center;
	background-color: $c-dark-green;
	padding: 40px;
	clip-path: polygon(10% 0, 90% 0, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0 85%, 0 15%);
	display: flex;
	flex-direction: column;

	@include responsive-down($r-large-desktop) {
		padding: 30px;
	}

	.testimonial__quote {
		margin-bottom: 30px;
		color: #D4D4D4;

		@include responsive-down($r-large-desktop) {
			margin-bottom: 20px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.testimonial__foot {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: auto;
	}

	.testimonial__foot svg {
		display: block;
		width: 56px;
		height: 40px;
		margin-bottom: 30px;

	@include responsive-down($r-large-desktop) {
		width: 50px;
	}

		@include responsive-down($r-large-desktop) {
			margin-bottom: 20px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}