* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: inherit;
}

html, body {
	margin: 0 !important;
	padding: 0;
}

body {
	margin: 0;
	text-size-adjust: none;
	min-width: 320px;
	font-family: $ff-base;
	font-size: $fs-desktop;
	font-weight: $fw-base;
	line-height: $lh-desktop;
	background: $c-dark;
	color: $c-white;

	@include responsive-down($r-tablet) {
		font-size: $fs-tablet;
		line-height: $lh-tablet;
	}

	@include responsive-down($r-mobile) {
		font-size: $fs-mobile;
		line-height: $lh-mobile;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 600;
}

h1,
.h1 {
	font-size: 50px;
	line-height: 1.3;

	@include responsive-down($r-large-desktop) {
		font-size: 44px;
	}

	@include responsive-down($r-tablet) {
		font-size: 34px;
		line-height: 1.2;
	}
}

h2,
.h2 {
	font-size: 36px;
	line-height: 1.55;
}

h3
.h3 {
	font-size: 28px;
	line-height: 1.5;
}

h4,
.h4 {
	font-size: 22px;
	line-height: 1.5;
}

h5,
.h5 {
	font-size: 24px;
	line-height: 1.5;
}

h6,
.h6 {
	font-size: 20px;
	line-height: 1.08;
}

ul {
	list-style: none;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
	transition: opacity $t-duration;

	&:hover {
		opacity: .7;
	}
}

img,
iframe {
	display: block;
	width: 100%;	
	height: auto; 
}

