@mixin responsive-down($name) {
	@media (max-width: $name) {
		@content;
	}
}

@mixin responsive-up($name) {
	@media (min-width: $name) {
		@content;
	}
}

@mixin default-margin {
	margin: $margin-desktop 0;

	@include responsive-down($r-large-desktop) {
		margin: $margin-large-desktop 0;
	}

	@include responsive-down($r-small-desktop) {
		margin: $margin-small-desktop 0;
	}
	
	@include responsive-down($r-tablet) {
		margin: $margin-tablet 0;
	}

	@include responsive-down($r-mobile) {
		margin: $margin-mobile 0;
	}
}

@mixin default-margin-top {
	margin-top: $margin-desktop;

	@include responsive-down($r-large-desktop) {
		margin-top: $margin-large-desktop;
	}

	@include responsive-down($r-small-desktop) {
		margin-top: $margin-small-desktop;
	}
	
	@include responsive-down($r-tablet) {
		margin-top: $margin-tablet;
	}

	@include responsive-down($r-mobile) {
		margin-top: $margin-mobile;
	}
}


@mixin default-padding {
	padding: $padding-desktop 0;

	@include responsive-down($r-large-desktop) {
		padding: $padding-desktop 0;
	}

	@include responsive-down($r-small-desktop) {
		padding: $padding-small-desktop 0;
	}
	
	@include responsive-down($r-tablet) {
		padding: $padding-tablet 0;
	}

	@include responsive-down($r-mobile) {
		padding: $padding-mobile 0;
	}
}

