$t-duration : 0.4s;

//fonts

$fs-desktop		: 16px;
$fs-tablet		: 16px;
$fs-mobile		 : 16px;
$fw-base		: 400;
$lh-desktop		: 1.625;
$lh-tablet		: 1.625;
$lh-mobile : 1.625;
$ff-base		: "Poppins", 'Montserrat', 'Roboto', Helvetica, Arial, sans-serif;
$ff-alt			: "Dancing Script", 'Great Vibes', cursive;

// Shell

$shell-max-width			: 1170px;
$shell-padding-desktop		: 40px;
$shell-padding-tablet		: 40px;
$shell-padding-mobile		: 20px;


// Default space between sections
$margin-desktop : 100px;
$margin-large-desktop : 90px;
$margin-small-desktop : 70px;
$margin-tablet : 60px;
$margin-mobile : 40px;

$padding-desktop : 100px;
$padding-large-desktop : 90px;
$padding-small-desktop : 70px;
$padding-tablet : 60px;
$padding-mobile : 40px;

// Colors

$c-black 			: #000;
$c-white			: #fff;
$c-light			: #D1D1D1;
$c-dark				: #0B0E11;
$c-beige			: #D7B686;
$c-light-beige		: #E3C08D;
$c-dark-green		: #182226;
$c-dark-green-v2	: #0D1518;
$c-silver			: #808080;
$c-silver-v2		: #A1A1A1;

// Responsive

$r-mobile			: 767px;
$r-tablet			: 1023px;
$r-small-desktop	: 1199px;
$r-large-desktop	: 1400px;